In [1]:
import numpy as np
import matplotlib.pyplot as plt

title = "HDB Resale Price Index"
titlelen = len(title)
print("{:*^{titlelen}}".format(title, titlelen=titlelen+6))
print()

data = np.genfromtxt('data/housing-and-development-board-resale-price-index-1q2009-100-quarterly.csv',  
                     skip_header=1,
                     dtype=[('quarter','U7'), ('index','f8')], delimiter=",",
                     missing_values=['na','-'],filling_values=[0])

print("There are {} rows in this dataset".format(len(data)))
print()

set_quarter = set(data['quarter'])
print(str(len(set_quarter)) + " unique index in quarter column")
print()

max_index = np.max(data['index'])
min_index = np.min(data['index'] )           
max_row_index = np.argmax(data['index'])
min_row_index = np.argmin(data['index'])
var = np.var(data['index'])

std = np.std(data['index'])

print()
print("The mean HDB price index over the years is {:.0f}".format(np.mean(data['index'])))
print("The maximum HDB price index was in the year-quarter {} with {:.0f} price index".format(data[max_row_index][0],data[max_row_index][1]))

print("The minimum HDB price index was in the year-quarter {} with {:.0f} price index".format(data[min_row_index][0],data[min_row_index][1]))
print("The standard deviation is {:.0f}".format(std))

***HDB Resale Price Index***

There are 115 rows in this dataset

115 unique index in quarter column


The mean HDB price index over the years is 89
The maximum HDB price index was in the year-quarter 2013-Q2 with 149 price index
The minimum HDB price index was in the year-quarter 1990-Q1 with 24 price index
The standard deviation is 36

In [2]:
import numpy as np
import matplotlib.pyplot as plt

title = "Number of Resale Applications"
titlelen = len(title)
print("{:*^{titlelen}}".format(title, titlelen=titlelen+6))
print()

data = np.genfromtxt('data/number-of-resale-applications-registered-by-flat-type.csv',
                     skip_header=1, 
                     dtype=[('quarter','U7'), ('flat_type','U10'), 
                            ('no_of_resale_applications','f8')], delimiter=",",
                     missing_values=['na','-'],filling_values=[0])

print("There are {} rows in this dataset".format(len(data)))
print()

set_quarter = set(data['quarter'])
set_flat_type = set(data['flat_type'])
flatTypeList = list(set(data['flat_type']))
flatTypeList.sort()

print(str(len(set_quarter)) + " unique resale applications in year-quarter column")
print(str(len(set_flat_type )) + " unique resale applications in flat-type column")
print()

flatType = np.zeros(len(flatTypeList), object)
flatIndex = np.arange(0,len(flatTypeList))
for i in flatIndex:
    flatTypeName = str(flatTypeList[i])
    flatTypeNamelen = len(flatTypeName)
    print("{:*^{flatTypeNamelen}} Flat Detail".format(flatTypeName, flatTypeNamelen=flatTypeNamelen+6))
    ftData = data[data['flat_type']==flatTypeList[i]]
    max_resale_price = np.max(ftData['no_of_resale_applications'])
    min_resale_price = np.min(ftData['no_of_resale_applications'] )           
    max_row_index = np.argmax(ftData['no_of_resale_applications'])
    min_row_index = np.argmin(ftData['no_of_resale_applications'])
    var = np.var(ftData['no_of_resale_applications'])
    std = np.std(ftData['no_of_resale_applications'])
    print("The mean number of HDB resale applications over the year-quarter is {:.0f}".format(np.mean(ftData['no_of_resale_applications'])))
    print("The maximum HDB resale applications was in the year-quarter {} for {} with {:.0f} applications".format(ftData[max_row_index][0],ftData[max_row_index][1],ftData[max_row_index][2]))
    print("The minimum HDB resale applications was in the year-quarter {} for {} with {:.0f} applications".format(ftData[min_row_index][0],ftData[min_row_index][1],ftData[min_row_index][2]))
    print("The standard deviation is {:.0f}".format(std))
    print()
    print()

***Number of Resale Applications***

There are 282 rows in this dataset

47 unique resale applications in year-quarter column
6 unique resale applications in flat-type column

***1-room*** Flat Detail
The mean number of HDB resale applications over the year-quarter is 3
The maximum HDB resale applications was in the year-quarter 2012-Q3 for 1-room with 11 applications
The minimum HDB resale applications was in the year-quarter 2009-Q2 for 1-room with 1 applications
The standard deviation is 2


***2-room*** Flat Detail
The mean number of HDB resale applications over the year-quarter is 98
The maximum HDB resale applications was in the year-quarter 2013-Q2 for 2-room with 185 applications
The minimum HDB resale applications was in the year-quarter 2016-Q1 for 2-room with 51 applications
The standard deviation is 33


***3-room*** Flat Detail
The mean number of HDB resale applications over the year-quarter is 1763
The maximum HDB resale applications was in the year-quarter 2009-Q3 for 3-room with 3015 applications
The minimum HDB resale applications was in the year-quarter 2018-Q1 for 3-room with 1046 applications
The standard deviation is 465


***4-room*** Flat Detail
The mean number of HDB resale applications over the year-quarter is 2360
The maximum HDB resale applications was in the year-quarter 2009-Q3 for 4-room with 4062 applications
The minimum HDB resale applications was in the year-quarter 2014-Q1 for 4-room with 1444 applications
The standard deviation is 579


***5-room*** Flat Detail
The mean number of HDB resale applications over the year-quarter is 1499
The maximum HDB resale applications was in the year-quarter 2009-Q3 for 5-room with 3422 applications
The minimum HDB resale applications was in the year-quarter 2014-Q1 for 5-room with 726 applications
The standard deviation is 519


***Executive*** Flat Detail
The mean number of HDB resale applications over the year-quarter is 491
The maximum HDB resale applications was in the year-quarter 2009-Q3 for Executive with 1058 applications
The minimum HDB resale applications was in the year-quarter 2014-Q1 for Executive with 230 applications
The standard deviation is 170

In [16]:
import numpy as np
import matplotlib.pyplot as plt

title = "HDB Resale Price"
titlelen = len(title)
print("{:*^{titlelen}}".format(title, titlelen=titlelen+6))
print()

data = np.genfromtxt('data/resale-flat-prices.csv', 
                     skip_header=1, 
                     dtype=[('month','U7'), ('town','U30'), ('flat_type','U20'), ('block','U4'), ('street_name','U50'), 
                            ('storey_range','U15'), ('floor_area_sqm','U3'), ('flat_model','U25'),
                            ('lease_commence_date','U4'), ('remaining_lease','i2'), ('resale_price','f8')], 
                     delimiter=",", missing_values=['na','-'],filling_values=[0])

print("There are {} rows in this dataset".format(len(data)))
print()

set_month = set(data['month'])
set_flat_type = set(data['flat_type'])
flatTypeList = list(set(data['flat_type']))
flatTypeList.sort()

print(str(len(set_month)) + " unique resale_prices in year-month column")
print(str(len(set_flat_type )) + " unique resale_prices in flat_type column")
print()

flatType = np.zeros(len(flatTypeList), object)
flatIndex = np.arange(0,len(flatTypeList))
for i in flatIndex:
    flatTypeName = str(flatTypeList[i])
    flatTypeNamelen = len(flatTypeName)
    print("{:*^{flatTypeNamelen}} Flat Detail".format(flatTypeName, flatTypeNamelen=flatTypeNamelen+6))
    ftData = data[data['flat_type']==flatTypeList[i]]
    max_resale_price = np.max(ftData['resale_price'])
    min_resale_price = np.min(ftData['resale_price'] )           
    max_row_index = np.argmax(ftData['resale_price'])
    min_row_index = np.argmin(ftData['resale_price'])
    var = np.var(ftData['resale_price'])
    std = np.std(ftData['resale_price'])
    print("The mean HDB resale price over the year-months is {:.0f}".format(np.mean(ftData['resale_price'])))
    print("The maximum HDB resale price was in the year-month {} for {} with {:.0f} amount ({})".format(ftData[max_row_index][0],ftData[max_row_index][2],ftData[max_row_index][10],ftData[max_row_index][1]))
    print("The minimum HDB resale price was in the year-month {} for {} with {:.0f} amount ({})".format(ftData[min_row_index][0],ftData[min_row_index][2],ftData[min_row_index][10],ftData[min_row_index][1]))
    print("The standard deviation is {:.0f}".format(std))
    print()
    print()

***HDB Resale Price***

There are 77674 rows in this dataset

47 unique resale_prices in year-month column
7 unique resale_prices in flat_type column

***1 ROOM*** Flat Detail
The mean HDB resale price over the year-months is 200031
The maximum HDB resale price was in the year-month 2018-02 for 1 ROOM with 232000 amount (BUKIT MERAH)
The minimum HDB resale price was in the year-month 2018-08 for 1 ROOM with 168000 amount (BUKIT MERAH)
The standard deviation is 17211


***2 ROOM*** Flat Detail
The mean HDB resale price over the year-months is 241687
The maximum HDB resale price was in the year-month 2016-03 for 2 ROOM with 456888 amount (BUKIT MERAH)
The minimum HDB resale price was in the year-month 2018-09 for 2 ROOM with 160000 amount (GEYLANG)
The standard deviation is 32564


***3 ROOM*** Flat Detail
The mean HDB resale price over the year-months is 318032
The maximum HDB resale price was in the year-month 2018-09 for 3 ROOM with 1185000 amount (KALLANG/WHAMPOA)
The minimum HDB resale price was in the year-month 2018-04 for 3 ROOM with 170000 amount (SERANGOON)
The standard deviation is 66317


***4 ROOM*** Flat Detail
The mean HDB resale price over the year-months is 434326
The maximum HDB resale price was in the year-month 2018-06 for 4 ROOM with 1028000 amount (CENTRAL AREA)
The minimum HDB resale price was in the year-month 2018-07 for 4 ROOM with 225000 amount (WOODLANDS)
The standard deviation is 112787


***5 ROOM*** Flat Detail
The mean HDB resale price over the year-months is 525055
The maximum HDB resale price was in the year-month 2017-02 for 5 ROOM with 1180000 amount (BISHAN)
The minimum HDB resale price was in the year-month 2018-05 for 5 ROOM with 300000 amount (WOODLANDS)
The standard deviation is 142750


***EXECUTIVE*** Flat Detail
The mean HDB resale price over the year-months is 626384
The maximum HDB resale price was in the year-month 2017-07 for EXECUTIVE with 1160000 amount (QUEENSTOWN)
The minimum HDB resale price was in the year-month 2018-04 for EXECUTIVE with 390000 amount (CHOA CHU KANG)
The standard deviation is 113450


***MULTI-GENERATION*** Flat Detail
The mean HDB resale price over the year-months is 785495
The maximum HDB resale price was in the year-month 2018-10 for MULTI-GENERATION with 990000 amount (TAMPINES)
The minimum HDB resale price was in the year-month 2016-09 for MULTI-GENERATION with 650000 amount (YISHUN)
The standard deviation is 78096

In [3]:
import numpy as np
import matplotlib.pyplot as plt

title = "HDB Resident Households"
titlelen = len(title)
print("{:*^{titlelen}}".format(title, titlelen=titlelen+6))
print()

data = np.genfromtxt('data/resident-households-by-type-of-dwelling-hdb-ethnic-grp-of-head-of-household-tenancy.csv',
                     skip_header=1, 
                     dtype=[('year','U10'), ('level_1','U50'), ('level_2','U50'), ('level_3','U50'), ('level_4','U50'), 
                            ('value','f8')], delimiter=",",
                     missing_values=['na','-'],filling_values=[0])

print("There are {} rows in this dataset".format(len(data)))
print()

set_year = set(data['year'])
set_ethnic = set(data['level_1'])
set_tenancy = set(data['level_2'])
set_flat_type = set(data['level_4'])

print(str(len(set_year)) + " unique values (In Thousands) in year column")
print(str(len(set_ethnic)) + " unique values (In Thousands) in ethnic group column namely: " + str(set_ethnic))
print(str(len(set_tenancy)) + " unique values (In Thousands) in Tenancy column namely: " + str(set_tenancy))
print(str(len(set_flat_type )) + " unique values (In Thousands) in flat_type column")
print()

dataTotal = data[data['level_2'] == 'Total']

flatTypeList = list(set(dataTotal['level_4']))
flatTypeList.sort()

ethnicList = list(set(dataTotal['level_1']))
ethnicList.sort()

flatType = np.zeros(len(flatTypeList), object)
flatIndex = np.arange(0,len(flatTypeList))
ethnic = np.zeros(len(ethnicList), object)
ethnicIndex = np.arange(0,len(ethnicList))
for i in flatIndex:
    flatTypeName = str(flatTypeList[i])
    flatTypeNamelen = len(flatTypeName)
    print("{:*^{flatTypeNamelen}} Flat Detail".format(flatTypeName, flatTypeNamelen=flatTypeNamelen+6))
    ftData = dataTotal[dataTotal['level_4']==flatTypeList[i]]
    for j in ethnicIndex:
        ethnicName = str(ethnicList[j])
        ethnicNamelen = len(ethnicName)
        ethnicData = ftData[ftData['level_1']==ethnicList[j]]
        print("      The mean HDB values (In Thousands) over the year for {} is {:.0f}".format(ethnicName, np.mean(ethnicData['value'])))
    print()
    print()

***HDB Resident Households***

There are 60 rows in this dataset

1 unique values (In Thousands) in year column
5 unique values (In Thousands) in ethnic group column namely: {'Indians', 'Others', 'Total', 'Malays', 'Chinese'}
3 unique values (In Thousands) in Tenancy column namely: {'Total', 'Non-Owner', 'Owner'}
4 unique values (In Thousands) in flat_type column

***1- and 2-Room Flats*** Flat Detail
      The mean HDB values (In Thousands) over the year for Chinese is 41
      The mean HDB values (In Thousands) over the year for Indians is 8
      The mean HDB values (In Thousands) over the year for Malays is 20
      The mean HDB values (In Thousands) over the year for Others is 1
      The mean HDB values (In Thousands) over the year for Total is 69


***3-Room Flats*** Flat Detail
      The mean HDB values (In Thousands) over the year for Chinese is 170
      The mean HDB values (In Thousands) over the year for Indians is 21
      The mean HDB values (In Thousands) over the year for Malays is 28
      The mean HDB values (In Thousands) over the year for Others is 5
      The mean HDB values (In Thousands) over the year for Total is 223


***4-Room Flats*** Flat Detail
      The mean HDB values (In Thousands) over the year for Chinese is 297
      The mean HDB values (In Thousands) over the year for Indians is 34
      The mean HDB values (In Thousands) over the year for Malays is 52
      The mean HDB values (In Thousands) over the year for Others is 10
      The mean HDB values (In Thousands) over the year for Total is 392


***5-Room and Executive Flats*** Flat Detail
      The mean HDB values (In Thousands) over the year for Chinese is 228
      The mean HDB values (In Thousands) over the year for Indians is 29
      The mean HDB values (In Thousands) over the year for Malays is 31
      The mean HDB values (In Thousands) over the year for Others is 8
      The mean HDB values (In Thousands) over the year for Total is 296